*.log
*.loh
.htaccess
.idea/
/license.txt
/readme.html
bwtrace*.ajax
bwtrace*.loh
bwtrace.vt.*
php_errorlog
sitemap.xml
sitemap.xml.gz
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/mu-plugins/
wp-content/plugins/
wp-content/plugins/hello.php
wp-content/themes/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
.well-known/
wp-content/languages
wp-content/wflogs
/bwtrace